  .word {
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 4px;
    border: 1px solid #a6a6a6;
    background-color: #cdd8f2;
  }
  .verse {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    margin-bottom:4px;
  }
  .verseHeader{
    padding-left: 10px;
    color: #444;
  }
  .chapterHeader{
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
    margin-top: 14px;
  }
  .bottom {
    border-top: 1px solid #a6a6a6;
    margin-bottom: 2px;
  }
  #url {
    width: 500px;
  }
  .strong{
    font-size: 0.8em;
    color: #444;
  }
